# Node modules
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Logs
*.log

# Test coverage
coverage/

# IDE settings
.vscode/
.idea/

# OS metadata files
.DS_Store
Thumbs.db
git 